.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f2f5; /* Ant Design default background */
    flex-direction: column;
    font-size: 1.2rem;
    color: #1890ff; /* Ant Design primary color */
  }
  